[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[diff]
	tool = icdiff
[difftool "icdiff"]
	cmd = icdiff --no-bold $LOCAL $REMOTE
[difftool]
	prompt = false
[pager]
	difftool = true
[pull]
	rebase = true
[log]
	abbrevCommit = true
	decorate = auto
[format]
	pretty = oneline
[status]
	short = true
	branch = true
[alias]
	force-push = push --force-with-lease
	amend = commit --amend --no-edit
	unstage = reset -q HEAD
	uncommit = reset --mixed HEAD~
	br = branch
	ci = commit
	co = checkout
	st = status
	rb = rebase
	cp = cherry-pick
[color]
	ui = true
[user]
	name = Benjamin Darfler
	email = bdarfler@gmail.com
[credential]
	helper = osxkeychain
[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = true
[rerere]
	enabled = true
	autoupdate = true
[tag]
	forceSignAnnotated = true
