[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = true
[mergetool]
  keepBackup = false
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge $LOCAL $REMOTE
[push]
  default = simple
[alias]
  st = status
  cp = cherry-pick
  cl = clone
  ci = commit
  co = checkout
  br = branch
  pf = push --force-with-lease
  ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
  lsv = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short --numstat
[color]
  ui = true
  ui = true
[user]
  name = Benjamin Darfler
[credential]
  helper = osxkeychain
[include]
  path = ~/.gitconfig.local
[core]
  excludesfile = ~/.gitignore_global
