# Tab through all completions
TAB:menu-complete
# Display common prefix before cycling through
set menu-complete-display-prefix on
# Show all completions
set show-all-if-ambiguous on
# Ignore case for completions
set completion-ignore-case on
# Color files by types
set colored-stats on
# Append char to indicate type
set visible-stats on
# Mark symlinked directories
set mark-symlinked-directories on
# Color the common prefix
set colored-completion-prefix on
# Use arrows key for history search
"\e[A": history-search-backward
"\e[B": history-search-forward
